body, html {
    margin: 0;
    padding: 0;
    }
    .container {
    display: flex;
    height: 100%;
    align-items: flex-start;
    background-image: url('../../images/adminbg.webp');
    background-size:cover;
    }
    
    .sidebar {
    position: sticky;
    top: 0%;
    width: 20%;
    background-color: #28310db1;
    color: #fff;
    padding: 0.5%;
    padding-bottom: 30vh;
    }
    .sidebar-header {
    text-align: center;
    font-size: 1.7rem;
    padding: 5% 0%;
    border-bottom: 2px solid rgba(128, 128, 128, 0.708);
    }
    
    .sidebar-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    
    }
    .sidebar-menu li a {
    border-bottom: 2px solid rgba(128, 128, 128, 0.704);
    display: block;
    padding: 7% 5%;
    color: #fff;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight :bold;
    transition: background-color 0.3s;
    }
    
    .sidebar-menu li a:hover {
    background-color: #040700ab;
    }
    
    .main-content{
    background-color: rgba(30, 40, 12, 0.359);
    width: 100%;
    padding-bottom: 1%;
    }
    
    .main-content h1{
    padding-top: 1% ;
    text-align: center;
    color: #fff;
    margin: 1% auto;
    margin-top: 2%;
    }
    
    table {
    margin: 1% auto;
    width: 99%;
    padding: 1.5% 1%;
    border-collapse:collapse;
    }
    th, td {
    padding: 8px;
    text-align: left;
    border: 1px solid #000000;
    }
    
    td{
    background-color: rgba(240, 248, 255, 0.59);
    font-weight: bold;
    }
    
    th {
    background-color: #1b2e15d1;
    color: #fff;
    border: 1px solid white;
    }
    
    /* Dashboard cards */
    
    #dashboardCards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-bottom: 2rem;
        width: 100%;
        height: 100%;
    }
    
    .card {
        background: radial-gradient(circle, #ffffffe9, #ffffffba, #ffdb93d2, #000000);
        border-radius: 200px;
        border: 1px double white;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 2rem 2rem;
        width: calc(35% - 1.5rem); /* Adjust width to account for margin */
        text-align: center;
        margin: 1rem; /* Even margins for all sides */
        margin-bottom: 2.5rem;
    }
    
    .card h2 {
        font-size: 2rem;
        margin: 0 0 1rem 0;
    }
    
    .card .count {
        font-size: 3.5rem;
        margin: 0.5rem 0;
        color: #000000;
    }
    
    .card p {
        margin: 0.5rem 0;
    }